/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
/* ROOT */
:root {
  --border: 2px dotted black;
}

/* CONTAINER */

.container {
  border: 1px dotted red;
  margin: 0 auto;
  width: 730px;
  height: 100%;
}
/* NAV */
.nav {
  background-color: #add8e6;
}
.wrapper {
  height: 50px;
  display: flex;
  align-items: center;
}

.logo,
.link,
.login {
  background-color: #daa520;
  border: var(--border);
}

.logo,
.login {
  flex: 1 0 20%;
  padding: 3px 5px;
}

.link {
  flex: 1 0 60%;
  text-align: center;
  padding: 3px 5px;
}

.login {
  text-align: end;
}
/* SEZIONE HEADER */

.header {
  background-color: darkblue;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-section {
  background-color: #ee82ee;
  height: 80%;
  width: 77%;
  border: var(--border);
  flex-grow: 0;
  flex-shrink: 0;
}

/* SEZIONI UGUALI */

.section {
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-section {
  border: var(--border);
  background-color: dodgerblue;
  flex: 0 0 60%;
  height: 80%;
  flex-grow: 0;
  flex-shrink: 0;
}
.content-section {
  border: var(--border);
  flex: 0 0 40%;
  background-color: #ffc0cb;
  height: 80%;
  flex-grow: 0;
  flex-shrink: 0;
}

.dark {
  background-color: lightgray;
}

/* /* SEZIONE + GRANDE */

.main-section {
  height: 606px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-main-section {
  background-color: forestgreen;
  height: 90%;
  width: 100%;
  border: var(--border);
  flex-grow: 0;
  flex-shrink: 0;
}

/* FOOTER */

.darker {
  background-color: #23272a;
}

.top-footer {
  height: 385px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 10px;
}

.main-content-footer {
  background-color: lightcoral;
  height: 350px;
  border: var(--border);
  flex: 0 0 30%;
}

.wrapper-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 70%;
}
.content-footer {
  background-color: lightseagreen;
  border: 2px dotted white;
  flex-basis: 25%;
  height: 350px;
}

.footer {
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
}

.wrapper-footer {
  display: flex;
  align-items: center;
  margin-top: 20px;
  height: 50px;
  background-color: aquamarine;
  justify-content: space-between;
}

.logo-footer,
.bottone-footer {
  background-color: lightpink;
  border: var(--border);
  font-size: 13px;
  padding: 2px 4px;
}
