/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
/* ROOT */
:root {
  --border: 2px dotted black;
}

/* CONTAINER */

.container {
  border: 1px dotted yellow;
  margin: 0 auto;
  width: 700px;
  height: 100%;
}
/* NAV */
.nav {
  background-color: #add8e6;
}
.wrapper {
  height: 50px;
  display: flex;
  align-items: center;
}

.logo,
.link,
.login {
  background-color: #daa520;
  border: var(--border);
}

.logo,
.login {
  flex: 1 0 20%;
  padding: 3px 5px;
}

.link {
  flex: 1 0 60%;
  text-align: center;
  padding: 3px 5px;
}

.login {
  text-align: end;
}
/* SEZIONE HEADER */

.header {
  background-color: darkblue;
  height: 300px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-section {
  background-color: #ee82ee;
  height: 80%;
  width: 80%;
  border: var(--border);
}
